{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" />
{% endblock styles %}

{% block title %}Profile page{% endblock title %}

{% block content %}

<main>
    <div class="container">
        <img class="cover" src="{{ cover_photo }}">
        <div class="card social-prof mt-0">
            <div class="card-body">
                <div class="wrapper">
                    <img src="{{ image_file }}" alt="" class="user-profile">
                    <h3>{{ user.name }}</h3>
                    <p>{{ user.title }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="h7"><strong>About :</strong> {{ user.about }}
                        </div>
                        <div><br>
                            {% if current_user.id == user.id %}
                                <a class="btn btn-primary btn-sm" href="{{ url_for('users.update_profile')}}" role="button">Update profile</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 gedf-main">

            <!--Posts-->
            <div class="container">
                {% if not posts.items %}
                    <div class="card social-timeline-card">
                        <div class="card-header">
                            {% if current_user.id == user.id %}
                                <h6 class="text-center">This is where your posts will be visible, once you start sharing them.</h6>
                            {% else %}
                                <h6 class="text-center">{{ user.firstname }} does not have any posts yet.</h6>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    {% for post in posts.items %}
                        <div class="card social-timeline-card">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex justify-content-between align-items-center">
                                        
                                        <div class="ml-2">
                                            <div class="h5 m-0"><a href="{{ url_for('users.user_profile', user_id=post.author.id) }}"> {{ post.author.name }}</a></div>
                                            <div class="text-muted h7 mb-0"><i>{{ post.date_posted.strftime('%B %d, %Y') }}</i></div>
                                            <div class="text-muted mb-2"><i>{{ post.date_posted.strftime('%H:%M') }}</i></div>
                                        </div>
                                    </div>
                                    {% if current_user == post.author %}
                                    <div>
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle btn-outline-info" type="button" id="gedf-drop11" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop11">
                                                <div class="h6 dropdown-header">Options</div>
                                                <a class="dropdown-item" href="{{ url_for('posts.post_edit', post_id=post.id) }}">Edit</a>
                                                <a class="dropdown-item" data-toggle="modal" data-target="#postdeleteModal{{ post.id }}"
                                                   href="{{ url_for('posts.post_delete', post_id=post.id) }}">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                                <div class="card-body">
                                {% if post.title %}
                                    <h5 class="card-title">{{ post.title }}</h5>
                                {% endif %}
                                <p style="white-space: pre-wrap">{{ post.content|safe }}</p>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-outline-info position-relative" data-toggle="collapse" href="#postnumber_{{ post.id }}" role="button" aria-expanded="false" aria-controls="collapseComments">
                                    <i class="fas fa-comment"></i>
                                    {% set cc = namespace(count=0) %}
                                    {% for comment in comments if comment.com_post_id == post.id %}
                                        {% set cc.count = cc.count + 1 %}
                                    {% endfor %}
                                    {% if cc.count > 0 %}
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{ cc.count }}</span>
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                        <!-- Comments -->
                        <div class="collapse collapseComments" id="postnumber_{{ post.id }}">
                            <div class="comments mt-0 ml-5 mr-2">
                                {% for comment in comments %}
                                    {% if comment.com_post_id == post.id %}
                                        <div class="card flex-row flex-wrap">
                                            <div class="card-header border-0">
                                                <img class="user-profile-comments" width="60" src="{{ url_for('static', filename ='img/profile_pics/' + comment.com_author.image_file) }}">
                                            </div>
                                            <div class="card-block p-2 px-3">
                                                <h6><a href="{{ url_for('users.user_profile', user_id=comment.com_author.id) }}">{{ comment.com_author.name }}</a></h6>
                                                <p class="card-text" style="white-space: pre-wrap">{{ comment.content|safe }}</p>
                                            </div>
                                            <div class="w-100"></div>
                                            <div class="card-footer w-100 text-muted">
                                                <p class="h7 m-1 pl-2"><i>{{ comment.date_posted.strftime('%d. %m. %Y at %H:%M') }}</i></p>
                                                {% if current_user == comment.com_author %}
                                                    <div class="dropdown commentoptions">
                                                        <button class="btn dropdown-toggle btn-outline-info" type="button" id="gedf-drop11" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fa fa-bars"></i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop11">
                                                            <div class="h6 dropdown-header">Options</div>
                                                            <a class="dropdown-item" href="{{ url_for('posts.comment_edit', comment_id=comment.id) }}">Edit</a>
                                                            <a class="dropdown-item" href="{{ url_for('posts.comment_delete', comment_id=comment.id) }}" data-toggle="modal"
                                                               data-target="#commentdeleteModal{{ comment.id }}">Delete</a>
                                                        </div>
                                                    </div>
                                                <!-- Comment delete modal -->
                                                  <div class="modal fade" id="commentdeleteModal{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                      <div class="modal-content">
                                                        <div class="modal-header">
                                                          <h5 class="modal-title" id="deleteModalLabel">Delete this comment?</h5>
                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                              <span aria-hidden="true">&times;</span>
                                                          </button>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <form action="{{ url_for('posts.comment_delete', comment_id=comment.id) }}" method="POST">
                                                              <input class="btn btn-danger" type="submit" value="Delete">
                                                            </form>
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                {% endif %}
                                            </div>
                                        </div>

                                    {% endif %}
                                {% endfor %}
                                {% if user.isAuthenticated %}
                                <!-- Add comment -->
                                <div class="card">
                                    <form method="POST" action="{{ url_for('posts.add_comment', post_id=post.id) }}" class="form-inline">
                                        {{ c_form.csrf_token }}
                                        <div class="col col-lg-10" style="padding: 3px">
                                            {% if c_form.content.errors %}
                                                {{ c_form.content(class="c_form-control c_form-control-lg is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in c_form.content.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                {{ c_form.content(class="c_form-control") }}
                                            {% endif %}
                                        </div>
                                        <div class="col col-auto">
                                            {{ c_form.submit(class="btn btn-sm btn-outline-info") }}
                                        </div>
                                    </form>
                                </div>
                                {% endif %}
                            </div>
                        </div>

                        <!--Post delete Modal -->
                          <div class="modal fade" id="postdeleteModal{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="deleteModalLabel">Delete this post?</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-footer">
                                    <form action="{{ url_for('posts.post_delete', post_id=post.id) }}" method="POST">
                                      <input class="btn btn-danger" type="submit" value="Delete">
                                    </form>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
            <!-- Posts /////-->
        </div>
    </div>
</main>
{% endblock %}

