{% extends "base.html" %}

{% block title %}Registered users{% endblock title %}
{% block content %}
<div class="container content white shadow"><br>
<h3>List of registered Memory lane users:</h3>
<hr>
{% for user in users %}
<ul>
    <li>
        <a href="{{ url_for('user_profile', user_id=user.id) }}">
        <img class="rounded-circle" width="50" style="margin-right: 10px" src="static/img/profile_pics/{{user.image_file }}">
        {{ user.name }}</a>
    </li>
    <hr>
</ul>
{% endfor %}
</div>
{% endblock %}