{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock title %}
{% block content %}

<!-- Page Header, CHANGE BG -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='post-bg.jpg') }}')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{ post.title }}</h1>
          <span class="meta">Posted by
            {{ post.author }}
            on {{ post.date_posted.strftime('%B %d, %Y') }}</span>
          {% if user.name == post.author %}
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>

          <!-- Modal -->
          <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel">Delete post?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <form action="{{ url_for('post_delete', post_id=post.id, user=user) }}" method="POST">
                      <input class="btn btn-danger" type="submit" value="Delete">
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ post.content|safe }}
      </div>
    </div>
  </div>
</article>


{% endblock content %}